---

- name: Validate maintenance lock times format
  ansible.builtin.assert:
    that:
      - maintenance_lock_start_time is match('^[0-9]{4}-[0-9]{2}-[0-9]{2} [0-9]{2}:[0-9]{2}$')
      - maintenance_lock_stop_time  is match('^[0-9]{4}-[0-9]{2}-[0-9]{2} [0-9]{2}:[0-9]{2}$')
    fail_msg: >
      maintenance_lock_start_time and maintenance_lock_stop_time must be in
      the format YYYY-MM-DD HH:MM (example: 2026-02-14 02:00)

- name: Install maintenance script
  ansible.builtin.template:
    src: maintenance-lockdown.sh.j2
    dest: /usr/local/sbin/maintenance-lockdown.sh
    mode: "0700"
    owner: root
    group: root

- name: Install systemd units
  ansible.builtin.template:
    src: "{{ item }}.j2"
    dest: /etc/systemd/system/{{ item }}
    mode: "0755"
    owner: root
    group: root
  loop:
    - maintenance-lockdown.service
    - maintenance-lockdown.timer
    - maintenance-unlock.service
    - maintenance-unlock.timer

- name: Reload systemd
  ansible.builtin.systemd:
    daemon_reload: true

- name: Reload systemd and enable timer
  ansible.builtin.systemd:
    name: "{{ item }}"
    enabled: true
    state: restarted
  loop:
    - "maintenance-lockdown.timer"
    - "maintenance-unlock.timer"
